@charset "UTF-8";

.content2-container {
	font-size: 12px;
}

#contentArea {
	min-height: 100px;
	height: 170px;
	width: 100%;
	resize: vertical;
}

.input-group-addon {
	min-width: 70px;
}

label {
	font-weight: bold !important;
}

#showMyEmail, #recieveCopy {
	margin: 10px 3px;
}

#checkbox-container {
	height: initial;
}