/**

  This css is loaded and used by infoBar chunk only. 
  There is no need to load it manually!

*/
.infoBar-closeBtn {
	cursor: pointer;
	background-image: url("/tpl/stdstyle/images/misc/btn_close_normal.svg");
	background-size: cover;
	height: 20px;
	width: 20px;
	display: inline-block;
}

.infoBar-closeBtn:hover {
	background-image: url("/tpl/stdstyle/images/misc/btn_close_hover.svg");
}

.infoBar-message {
	width: 93%;
	text-align: center;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 7px;
}

.infoBar-messageErr {
	color: #d80707;
	background-color: #fef1ec;
	border: 1px solid #d80707;
}

.infoBar-messageInfo {
	color: #3c763d;
	background-color: #f5fff1;
	border: 1px solid #3c763d;
}

.infoBar-messageText {
	width: 95%;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

.infoBar-closeBtnContainer {
	display: inline-block;
	vertical-align: middle;
}