

#mapCanvas {
    height: 460px;
    width: 767px;
    padding: 0px;
    border: 1px solid #0051B9
}

.width20 {
  width:20%;
}

.width10 {
  width:10%;
}

.width30 {
  width:30%;
}

.width5 {
  width:5%;
}

.width15 {
  width:15%;
}