/lib/settings.inc.php
/logbook/work
/mobile/lib/settings.inc.php
/tmp/watchlist-runwatch.lock

#ignore local configs
/Config/*.local.php
/Config/Menu/*.local.php

.buildpath
.project
ocpl-dynamic-files
.directory

