/logbook/work
/mobile/lib/settings.inc.php
/tmp/watchlist-runwatch.lock

# Ignore local configuration
/config/**/*.local.php
/lib/settings.inc.php

.buildpath
.directory
.idea
.php_cs.cache
.project
.settings
ocpl-dynamic-files
