# Dynamic dirs and files
/logbook/work
/tmp/watchlist-runwatch.lock
ocpl-dynamic-files

# Ignore local configuration
/config/**/*.local.php
/lib/settings.inc.php
/mobile/lib/settings.inc.php

# IDE Config
.buildpath
.directory
.idea
.project
.settings
.vscode

# Ignore local FTP configuration
.ftpaccess

# PHP CS-Fixer files
.php-cs-fixer.php
.php-cs-fixer.cache
