RewriteEngine on

# redirect empty requests / -> public/index.php
RewriteRule ^$                                                                      /public/index.php [L,NC]

RewriteRule ^search\.(gpx|kml|loc|ov2|ovl|txt|wpt|uam|xml|zip|ggz)$                 /search.php?%{QUERY_STRING} [L,NC]
RewriteRule ^ocpl(\d+)\.(gpx|kml|loc|ov2|ovl|txt|wpt|uam|xml|zip|ggz|jsoncodes)$    /search.php?queryid=$1&output=$2&%{QUERY_STRING} [L,NC]
RewriteRule ^ocplgpx(\d+)\.(gpx)$                                                   /search.php?queryid=$1&output=gpxgc&%{QUERY_STRING} [L,NC]

RewriteRule ^statpics/([0-9]+)\.jpg$                                                /ocstats.php?userid=$1 [R,L]

# redirect requests like /OP123F to viewcache page 
RewriteRule ^(O[A-Z][0-9A-Z][0-9A-Z][0-9A-Z][0-9A-Z])$                              /viewcache.php?wp=$1 [R=301,L,NC]

# permanentely block Wordpress login page - too many such requests 
RewriteRule ^wp-login.php                                                           "-" [F]

FileETag None

# IF: there is no such file
RewriteCond %{REQUEST_FILENAME} !-f

# IF: there is no such directory 
RewriteCond %{REQUEST_FILENAME} !-d

# redirect the all non-found -> /public
RewriteRule ^(.*)$                                                                  /public/$1 [NC,L,QSA]
