

#rating-form label {
  display: block;
  padding: 2px 1em 0 0;
  cursor: pointer;
}

#rating-form input[type=radio] {
  float: left;
  clear: none;
  margin: 2px 5px 0 2px;
  cursor: pointer;
}

#rating-form fieldset {
  margin: 10px 20px 0 0;
  border-radius: 5px;
}


#rating-form legend {
  font-weight: bold;
}

.difficultyForm-buttons {
  text-align: center;
  width: 100%;
  margin: 10px 0 20px 0;
}

#difficult-form-result .level {
    display: inline-block;
    width: 5%;  
    text-align: right;
    padding: 0 5px ;
    font-size:13px;
    vertical-align: middle;
}

#difficult-form-result .text {
    display: inline-block;
    width: 90%;  
    vertical-align: middle;
}

#difficult-form-result .emphasis {
    font-weight: bold;
}

#difficult-form-result .results{
    margin: 0 25px 5px 0;
}
#difficult-form-result .result-row{
  margin-bottom: 5px;
}




.idea-source {
  text-align: center;
  font-style: italic;
}




