.report-status-warning {
	background-image: url("/tpl/stdstyle/images/background/orange5px.png");
	background-repeat: repeat-y;
}

.report-status-error {
	background-image: url("/tpl/stdstyle/images/background/red5px.png");
	background-repeat: repeat-y;
}

.report-status-new {
	background-image: url("/tpl/stdstyle/images/background/pencil.svg");
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center;
}

.report-status-inprogress {
	background-image: url("/tpl/stdstyle/images/background/gear.svg");
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center;
}

.report-status-lookhere {
	background-image: url("/tpl/stdstyle/images/background/exclamation.svg");
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center;
}

.report-status-closed {
	background-image: url("/tpl/stdstyle/images/background/padlock.svg");
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center;
}

.report-watch-img {
	width: 16px;
	cursor: pointer;
}

.report-vote-img {
	width: 20px;
}

.report-strong {
	font-weight: bold;
}

textarea.report-note {
	width: 100%;
	resize: vertical;
}
textarea#form-note-textarea {
	height: 6em;
}

textarea#form-email-textarea {
	height: 15em;
}

textarea#form-log-textarea {
	height: 15em;
}

.reports-form {
	font-size: 12px;
}

fieldset.reports-fieldset {
	border-width: 0px;
}

div.report-poll {
}

#report-confirm-poll {
	display: none;
	background-color: #f9f9f9;
	border-radius: 5px;
	border: 1px solid #aaa;
	position: fixed;
	width: 40%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
}

table#report-email-table {
	table-layout: fixed;
	width: 100%;
}