@charset "UTF-8";

.dynamicMap_cursor {
    cursor: crosshair
}

.dynamicMap_cursorResize {
    cursor: col-resize;
}

.dynamicMap_cursorMove {
    cursor: pointer;
}

.dynamicMap_layerSwitcher {
  top: 5px;
  right: 5px;
}

.dynamicMap_attribution {
  bottom: 5px;
  right: 5px;
}

.dynamicMap_mapScale {
  bottom: 3px;
  font-size: 13px;
  left: 250px;
}

.dynamicMap_mapScale .customScale {
  border-width: 4px;
  border-color: #000;
  border-style: none solid solid solid;
  background-color: rgb(238,238,238);
  opacity: 0.4;
  text-align: center;
}

.dynamicMap_mapZoom {
  bottom: 30px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.dynamicMap_mapZoomIn, .dynamicMap_mapZoomOut {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.dynamicMap_mousePosition {
  bottom: 5px;
  left: 5px;
  background-color: rgb(238,238,238);
  font-size: 13px;
  padding: 2px 10px;
}


.dynamicMap_mapPopup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 8px 15px 8px 8px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -48px;
  min-width: 300px;
  font-size: 1.2em;
}

.dynamicMap_mapPopup:after, .dynamicMap_mapPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dynamicMap_mapPopup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.dynamicMap_mapPopup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.dynamicMap_mapPopup .dmp-closer {
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 2px;
}
.dynamicMap_mapPopup .dmp-closer:after {
  content: "✖";
  font-size: 15px;
  cursor: pointer;
  color: #000;
}

.dynamicMap_mapPopup .dmp-navi .dmp-backward {
    float: left;
}

.dynamicMap_mapPopup .dmp-navi .dmp-forward {
    float: right;
}

.dynamicMap_mapPopup .dmp-navi .dmp-backward, .dynamicMap_mapPopup .dmp-navi .dmp-forward {
    padding: 0 3px;
    font-weight: bold;
}

.dynamicMap_mapPopup .dmp-navi .dmp-backward img, .dynamicMap_mapPopup .dmp-navi .dmp-forward img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.dynamicMap_mapPopup .dmp-navi .dmp-backward img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}


/* a lot of log entries starts with a paragraph*/
.dynamicMap_mapPopup  p {
    font-size: inherit !important;
}

.dynamicMap_mapPopup .dmp-cache {

}

.dynamicMap_mapPopup .dmp-cache .dmp-icon, .dynamicMap_mapPopup .dmp-cache .dmp-icon img,
.dynamicMap_mapPopup .dmp-cache-log .dmp-cache-icon, .dynamicMap_mapPopup .dmp-cache-log .dmp-cache-icon img,
.dynamicMap_mapPopup .dmp-cache-log .dmp-log-icon, .dynamicMap_mapPopup .dmp-cache-log .dmp-log-icon img {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dynamicMap_mapPopup .dmp-cache .dmp-icon, .dynamicMap_mapPopup .dmp-cache .dmp-icon img,
.dynamicMap_mapPopup .dmp-cache-log .dmp-cache-icon, .dynamicMap_mapPopup .dmp-cache-log .dmp-cache-icon img {
    width: 19px;
    height: 19px;
}

.dynamicMap_mapPopup .dmp-cache .dmp-wp {
    float: right;
    font-weight: normal;
    font-size: 90% !important;
}

.dynamicMap_mapPopup .dmp-cache .dmp-details {
    font-size: 85%;
}

.dynamicMap_mapPopup .dmp-cache .dmp-details img {
    width: 10px;
    height: 10px;
}

.dynamicMap_mapPopup .dmp-cache .dmp-counter {
    text-align: right;
}

.dynamicMap_mapPopup .dmp-cache .dmp-label {
    font-weight: bold;
}

.dynamicMap_mapPopup .dmp-cache-log .dmp-block {
    margin-top: 10px;
}

.dynamicMap_mapPopup .dmp-cache-log .dmp-content {
    font-weight: normal;
}

.dynamicMap_mapPopup .dmp-cache-log .dmp-user {
   font-weight: bold;
}

.dynamicMap_mapPopup .dmp-guide {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.dynamicMap_mapPopup .dmp-guide .dmp-desc {
    max-height: 5em;
    overflow: hidden;
}

.dynamicMap_mapPopup .dmp-table {
    display: table;
    width: 100%;
}

.dynamicMap_mapPopup .dmp-table .dmp-row {
    display: table-row;
}

.dynamicMap_mapPopup .dmp-table .dmp-cell,
.dynamicMap_mapPopup .dmp-table .dmp-narrow-cell {
    display: table-cell;
    padding: 2px 5px;
}

.dynamicMap_mapPopup .dmp-table .dmp-narrow-cell {
    width: 1%;
    white-space: nowrap;
}
