allow from 127.0.0.1

#opencaching.pl
allow from 185.243.55.91

#opencaching.ro
allow from 185.232.66.122

#opencaching.nl
allow from 80.211.176.147

#Opencaching UK
allow from 89.36.221.105

#opencaching.us
allow from 80.211.139.78

# deg's development server
allow from 188.68.236.126

# allow from private IP range (dev platforms etc)
allow from 192.168.0.0/16

deny from all
