Allow From 127.0.0.1

#opencaching.pl
Allow From 46.248.162.18
Allow From 46.248.162.33

#opencaching.ro
Allow From 89.33.126.190

#opencaching.nl
Allow From 46.4.66.184

# Bogus z Polska
allow from 194.242.0.188

# allow from private IP range (dev platforms etc)
allow from 192.168.0.0/16

Deny From All