/**
  This is CSS used only by viewcache*.php templates
*/

#cache-menu::after {
  content:"";
  display:block;
  clear:both;
}

#cache-title-icons {
  width: 60px;
  margin-right: 10px;
  float: left;
  clear: left;
}

#cache-name-block {
  width: 699px;
  float: right;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
}

#cache-name {
  max-width: 65%;
}

#geoPath {
  width: 30%;
  max-width: 40%;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border:1px solid #337fed;
  padding: 5px;
}

#geoPath-head {
  color: #337fed;
  border-bottom: 1px solid #337fed;
}

#geoPath-link {
  font-size: 13px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

#geoPath-content{
  align-items: center;
}

#geoPath-content img{
  max-width: 90px;
  max-height: 50px;
  margin: 5px;
}

#top-links-to-ext-maps{
  display: none;
}

#links-to-ext-maps a{
  margin: 1px 0px;
}

.common-desc {
  font-size: 12px;
}

.list-of-details {
  font-size: 12px;
}

.list-of-details img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.list-of-details a img {
  width: 12px;
  height: 12px;
}
.list-of-details IMG.img12 {
  width: 12px;
  height: 12px;
}

.no-whitespace {
  white-space: nowrap;
}

div#viewcache-baseinfo {
  width: 380px;
  text-align: left;
}

div#viewcache-maptypes { width: 380px; text-align: right;}
div#viewcache-numstats { width: 190px; height: 230px; text-align: left; }
div#viewcache-map { width: 185px; height: 190px; float: right;}

div#viewcache-description {
	max-width: 100%;
	line-height: 1.3;
	font-size: 12px;
}
div#viewcache-description img {
	max-width: 100%;
}

div#viewcache-description>p,
div#viewcache-description>ul {
	font-size: 12px;
}

div#viewcache-description>ol {
	padding: 0px 0px 0px 25px;
}

div#viewcache-description>sub,
div#viewcache-description>sup {
	font-size: 0.7em;
}

div#viewcache-description * {
	margin: 0px 0px 0.5em 0px;
}

div#viewcache-utility                   { font-size: 12px; }
div.viewcache-pictureblock              { display: inline-block; }
div.viewcache-pictureblock span.title   { display: block; max-width: 175px; padding-left: 10px; padding-right: 5px;clear: left; font-size: 125%;}

#waypoints-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 1.6em;
  text-align: center;
  border: 1px solid black;
}
#waypoints-table th {
  font-weight: bold;
}

#waypoints-table td, #waypoints-table th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

#hintEncTable{
  width:200px;
  text-align:right;
  float:right;
  font-family: 'Source Code Pro', SourceCodePro, monospace;
  font-size: 12px;
}

#form-coords-mod {
  margin-left: 20px;
}

#openchecker-btn {
  margin-left: 20px;
}

.userNoteTextarea {
  font-size: 12px;
  border: 1px solid #d0d0d0;
  padding: 5px;
}

textarea.userNoteTextarea {
  width: 720px;
}

#cacheNoteForm {
  margin: 0 20px;
}

#viewcache-utility a {
  font-weight: bold;
  text-decoration: none;
}

#viewcache-utility td {
  width: 350px;
  text-align: left;
  padding-left:5px;
}

#log_start {
  float: left;
}

#log_start a {
  text-decoration: none;
}

#log-start-buttons {
  float: right;
  padding: 0 5px;
}

.naturaTable {
  width: 90%;
  border-collapse: collapse;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6em"
}

.naturaTable td {
  text-align: center;
  vertical-align: middle;
}

.naturaTable a {
  text-color: blue;
}

#buttons-left {
  float: left;
}

#buttons-right {
  float: right;
}

#descLangs-span {
  margin: 0 20px;
}

#userNote-div {
  margin: 0 20px;
}

label.two-state-btn input{
  display: none;
}

label.two-state-btn input:checked ~ span.uncheckedLabel {
  display: none;
}

label.two-state-btn input:not(:checked) ~ span.checkedLabel {
  display: none;
}

a.links2:link {
    font-weight:bold;
    color: #323232;
    text-decoration:none;
}

a.links2:visited {
    font-weight:bold;
    color: #323232;
    text-decoration:none;
}

a.links2:active {
    text-decoration:none;
}

a.links2:hover {
    font-weight:bold;
    color:black;
    text-decoration: none;
}

/*links with color  */
a.links4:link {
    font-weight:bold;
    color: rgb(88,144,168);
    text-decoration:none;
}

a.links4:visited {
    font-weight:bold;
    color: rgb(88,144,168);
    text-decoration:none;
}

a.links4:active {
    text-decoration:none;
}

a.links4:hover {
    font-weight:bold;
    color:blue;
    text-decoration: underline;
}

#viewcache-coordsinfo {
    margin-bottom: 0.5em;
}

.viewcache-coordsinfo-block {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.0em;
    padding: 0px 0.2em;
}

.CoordsDegMinSec, .CoordsDecimal {
    display: none;
}

#cacheCoordinates, #copy-coords {
    cursor: pointer;
}

#copy-coords-status {
    display: none;
}

.coords-image {
    height: 1.0em;
    width: auto;
}

.copy-coords-status {
    background: #fffbc6 !important;
}

.copy-coords-status .ui-widget-header {
    border: none;
    background: transparent;
}

.copy-coords-status .ui-dialog-titlebar-close:focus {
    border: none;
    outline: none;
}

.copy-coords-status .ui-dialog-titlebar-close::-moz-focus-inner {
  border: 0;
}

.copy-coords-status .copy-coords-failure {
    color: #a00000;
}

.copy-coords-status .copy-coords-values {
    font-weight: bold;
}

.ocTeamCommentHeader {
  color: rgb(122,114,204);
  font-weight: bold;
  display: block;
  padding-top: 5px;
}

.reactivationRuleBox {
  border: 1px dotted black;
}

.reactivationRuleBox .notice {
  margin-top: 10px;
  padding-bottom:0px;
}
