/* This css is used only by /garmin.php script */

#garminDisplay {
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    margin: 0 0 1em 0;
    border: 2px outset #3D3A21;
    width: 390px;
    background: #DDE3D6 url("garmin.jpg") no-repeat 12px 12px;
    padding: 3px;
}

#garminDisplay input {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    height: 18px;
    background-color: #005E9D;
    border: 1px outset #3D3A21;
    margin-right: 3px;
}

#garminDisplay input:disabled {
    background-color: #D0D0D0;
}

#garminDisplay select {
    font-size: 10px;
    font-weight: bold;
    background-color: #666699;
    color: #ffffff;
}

.pluginElement {
    margin: 5px;
}

.actionButton {
    margin-right: 5px;
}

#deviceSelect {
    width: 220px;
}

#statusBox {
    padding-left: 90px;
    height: 40px;
}

#aboutElement {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 9px;
    text-align: right;
}

.readResultsElement {
    margin-top: 6px;
}

.readResultsSelect {
    position: absolute;
    left: 100px;
}

#readMap {
    width: 100%;
    height: 200px;
}

#progressBar {
    height: 10px;
    margin-top: 3px;
    border: 1px solid black;
    width: 95%;
    padding: 0;
    text-align: left;
    background-color: #CCCAC1;
}

#progressBarDisplay {
    position: absolute;
    top: 0;
    height: 10px;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #005E9D;
}