body, html {
    background-color: white;
}

.noprint, .navflag-container, .site-slogan-container, #loginbox-container, .footer, 
.page-container-1-2, #logo, .header, .site-name, #nav2, #nav3, div#seasonalBackground,
.notlogged-cacheview, .img-navflag, #footer
{
    display: none;
}

#overall {
    margin-top: -32px;
}

.content-cache {
    margin-bottom: 0.5em;
    border-bottom: 0.3em solid #CCC;
}

.content2-container {clear: both; float: none; width: 769px; margin: 0px 0px 15px 0px; padding: 0px;}
.line-box {width:769px; border-bottom: solid 1px rgb(200,200,200); padding-bottom: 7px; margin: 0px 0px 15px 0px;}

div.frame {
    width: 94%;
    margin: 5px;
    padding: 5px;   border: solid 1px rgb(219,230,241);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.img-shadow {
    float:left;
    background: url(shadowAlpha.png) no-repeat bottom right !important;
    /*  background: url(shadow.gif) no-repeat bottom right;*/
    /*  background-color: red;*/
    margin: 10px 0 0 10px !important;
    margin: 10px 0 0 5px;
}

.img-shadow img {
    display: block;
    position: relative;
    background-color: #fff;
    border: 1px solid #a9a9a9;
    margin: -4px 4px 4px -4px;
    padding: 2px;
}
.icon32 {
	width: 32px;
	height: 32px;
	margin-left: 0.2em;
	margin-right: 0.2em;
	vertical-align: middle;
}
.icon16 {
	width: 16px;
	height: 16px;
	margin-left: 0.1em;
	margin-right: 0.1em;
	vertical-align: middle;
}

P.cache-title {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 14pt;
    font-weight: bold;
}
.listed-on {
    font-size: 90%;
}

@media print {
    /* Arkusz dla wydruku */
    .text_gray {
        display: none;
    }
    .nodisplay-onprint {
    display: none;
    width:0;
    height:0;
    }
}
