RewriteEngine on

# redirect from old tinyMCE emoticons to the new location of emoticons
RewriteRule ^lib/tinymce4/plugins/emoticons/img/smiley-([a-z]+)\.gif$    \
            images/emoticons/fromTinyMce/smiley-$1.gif [L]


# IF: there is no such file
RewriteCond %{REQUEST_FILENAME} !-f

# IF: there is no such directory 
RewriteCond %{REQUEST_FILENAME} !-d

# then: let's go to index.php
RewriteRule ^(.*)$ index.php?r=$1 [NC,L,QSA]
