#upload_boxParent > div {
  margin: 10px auto;
}

#upload_container {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 100;
  color: rgb(75,75,75);
}


#upload_dialog {
  position:fixed;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  border: 1px solid #ccc;
  border-radius: 7px;
  
  background-color: #f3f3f3;
  text-align: center;

  padding: 5px 20px;
  z-index: 101;
}

#upload_btnClose {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

#upload_box {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#upload_progressBar {
  display: none;
  background-color: rgba(221, 221, 221, 0.6);
  height: 10px;
  text-align: left;
}

#upload_progressDone {
  background-color: #337ab7;
  width: 0;
  height: 10px;
}

#upload_dragFileBox
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  min-height: 200px;
  min-width: 300px;
  
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: 1em auto;
  color: #555;
  border: 2px dashed #ddd;
  border-radius: 7px;
  cursor: pointer;
}

.upload_info {
  font-weight: normal;
  margin: 0 auto;
  max-width: 90%;
  text-align: left;
}

.upload_info .upload_limit {
  font-weight: bold;
}

#upload_dragFileBox.dragover {
  border-color: #337ab7;
}

#upload_dragFileBox.dragover > h3 {
  color: #2e6da4;
}

#upload_fileInput {
  display: none;
}

.upload_previewEntry {
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.upload_previewEntry:hover {
  background-color: rgba(221, 221, 221, 0.5);
  background: linear-gradient(to right, transparent, rgba(221, 221, 221, 0.5));
}

.upload_previewEntry .upload_previewEntryData {
  display: flex;
  flex-direction: row;
}

.upload_previewImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload_previewImg img {
  width: 24px;
  height: 24px;
}

.upload_previewEntry .upload_previewProps {
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.upload_previewEntry .upload_previewEntryRemove {

  cursor: pointer;
  
  padding: 5px;
  vertical-align: middle;
}

.upload_previewEntry .upload_previewError {
  color: red;
}
