
#intro {
  font-size: 12px;
  line-height: 1.6em;
  width: 100%;
  /* margin: 0 0 10px 0; */
  /*border-bottom: 1px solid gray;*/
  padding: 10px 0;
}

/* News */
#newsDiv {
  /*border-bottom: 1px solid gray;*/
  margin-bottom: 10px;
}

#newsDiv .newsItem {
  font-size: 12px;
  padding: 2px;
}

#newsDiv .newsStatusLine {
  margin: 5px 0px;
}

#newsDiv .newsStatusLine img {
  width: 16px;
  height: 16px;  
}

#newsDiv .newsTitle {
  font-weight: bold;
}


/* Total-stats: */
.totalStatsSlider {
	margin: 10px 20px;
}

.totalStatsFrame {
	width: 130px !important;
	height: 50px !important;
	margin: 0px 6px;
	text-align: center;
	vertical-align: middle;
	border: 2px solid rgb(88,144,168);
	font-weight: bold;
	display: flex !important;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 3px;
}

.totalStatsTitle {
}

.totalStatsNumber {
	font-size: 16px;
	color: rgb(88,144,168);
}

/* latest caches */
#map {
  padding: 3px;
  float: right;
  margin-right: 20px;
  border: 2px solid rgb(88,144,168);
  border-radius: 3px;
}

ul.latestCachesList {
  list-style-type: none;
  padding-left: 0px;
}

ul.latestCachesList li {
  padding-bottom: 3px;
  margin-left: 10px;
}

li.showMoreLink {
  text-align: left;
  margin-left: 20px;
}

li .cacheLocationBox {
  margin-left: 20px;
}

a.highlite {
  font-size: 1.1em;
}

#newCachesList {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#nearestEventsList{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

#newCachesList .img16, 
#nearestEventsList .img16, 
#cacheTitled .img16 {
  width: 16px; 
  height: 16px; 
}

#newCachesList p, 
#nearestEventsList p, 
#cacheTitled p,
#newestCacheSets p {
  display: inline-block;
  margin-right: 3px;
}

#newestCacheSets {
  width: 49%;
  display: inline-block;
  
}
#newestCacheSets .csImgBox {
  width: 40px;
  height: 25px;
  display: inline-block;
  text-align: center;
}

#newestCacheSets .csNameBox {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 305px;
}

#newestCacheSets li {
  padding: 3px 0;
}

#newestCacheSets img {
  height: 25px;
  max-width: 40px;
}

#cacheTitled .cacheTitledLog {
    border-radius: 3px;
    border: solid 2px rgb(88,144,168);
    /*background: #DBE6F1; /*#F9F9F9;*/
    padding: 5px;
    font-size: 11px;
    margin-top: 5px;
}

#feedsContainer ul.feedList {
    font-size: 11px;
    list-style-image: url(/tpl/stdstyle/images/free_icons/page.png);
    list-style-position: inside;
}

#feedsContainer div.feedArea {
    width: 100%;
}
