@charset "UTF-8";

.dynamicMap_cursor {
    cursor: crosshair
}

.dynamicMap_cursorResize {
    cursor: col-resize;
}

.dynamicMap_cursorMove {
    cursor: pointer;
}

.dynamicMap_layerSwitcher {
  top: 5px;
  right: 5px;
}

.dynamicMap_layerSwitcher select {
  padding: 7px;
  margin: 5px;
  border: none;
  background-color: rgba(255,255,255,0.5);
  color: #555;
}

/* all 3 classes to be sure that it overrride OL defaults */
div.dynamicMap_attribution.ol-control.ol-attribution {
  bottom: 5px;
  right: 5px;
  background-color: rgba(238,238,238, .4);
}

/* for OL scale overriding default classes 
   is a best way to customize look of scale */
.ol-scale-line {
  bottom: 5px;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .ol-scale-line {
    left: 5px;
  }
}

@media screen and (min-width: 800px) {
  .ol-scale-line {
    left: 50%;;
    transform: translateX(-50%);
  }
}

.ol-scale-line-inner {
  /* this is a real scale line */
  color: #000;
  font-size: 0.7rem;
  background-color: rgb(238,238,238);
  opacity: 0.4;
  border-width: 2px;
  border-color: #000;
  border-style: none solid none solid;
}

.dynamicMap_gpsLocator {
  bottom: 130px; 
  right: 5px;
}

.dynamicMap_compassDiv {
  top: 70px;
  right: 5px;
}

.dynamicMap_mapZoom {
  bottom: 30px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.dynamicMap_mapZoom img, 
.dynamicMap_gpsLocator img, 
.dynamicMap_compassDiv img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.dynamicMap_mousePosition {
  bottom: 5px;
  left: 5px;
  background-color: rgb(238,238,238,0.4);
  color: #555;
  padding: 2px 10px;
  font-size: 0.8rem;
}

.dynamicMap_infoMsg {
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: row;
  
  padding: 2px 10px;
  font-size: 0.8rem;
}

.dynamicMap_infoMsgClose {
  margin-left: 10px;
  cursor: pointer;
  color: #888;
}

.dynamicMap_mapPopup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -48px;
  min-width: 300px;
  font-size: 1.2em;
}

.dynamicMap_mapPopup:after, .dynamicMap_mapPopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dynamicMap_mapPopup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.dynamicMap_mapPopup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.dynamicMap_mapPopup-closer {
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 2px;
}
.dynamicMap_mapPopup-closer:after {
  content: "✖";
  font-size: 15px;
  cursor: pointer;
  color: #000;
}

/* a lot of log entries starts with a paragraph*/
.dynamicMap_mapPopup  p {
    font-size: inherit !important;
}

.dynamicMap_mapPopup-cacheIcon {
    width: 19px;
    height: 19px;
}

.dynamicMap_mapPopup-cacheLogBlock {
    margin-top: 10px;
}

.dynamicMap_mapPopup-cacheLogUser {
   font-size: 1.1em;
}

.dynamicMap_mapPopup-guide {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.dynamicMap_mapPopup-table {
    display: table;
}

.dynamicMap_mapPopup-tableRow {
    display: table-row;
}

.dynamicMap_mapPopup-tableCell {
    display: table-cell;
    padding: 2px 5px;
}


