body{

    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mainContainer{
    background-color: #ffffff;
    opacity: 0.82;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 810px;
    margin:0 auto;
    height: 500px;
    display:table;
    border-radius: 12px;
}

.headerDiv {
    padding: 23px;
    font-size: 25px;
    text-align: center;
    height: 200px;
}

.medalWrapper {
    width: 800px;
}
.medal {
    width: 190px;
    height: 200px;
    padding: 5px;
    float:left;
}
.medalImage{
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.medalName{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    text-align: center;
}
.medalLevel{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    font-size: 12px;
    text-align: center;
}

a.tooltips {
    position: relative;
    display: inline;
}
a.tooltips span {
    position: absolute;
    width:180px;
    color: #000000;
    background: #D4FFC9;
    border: 2px solid #6D6D6D;
    text-align: center;
    visibility: hidden;
    border-radius: 11px;
    box-shadow: 6px 5px 9px #68806A;
    font-size: 12px;
}
a.tooltips span:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-top: 12px solid #6D6D6D;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #D4FFC9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.tooltips span {
    visibility: visible;
    opacity: 0.9;
    bottom: 150px;
    left: 50%;
    z-index: 999;
}

.nextLevelInfo{
    font-size: 10px;
    display: block;
}
.currentLevelInfo{
    font-size: 12px;
    display: block;
}

.tooltipHeader{
    font-weight: bold;
}

.medalDescription{
    font-size: 13px;
    font-style: italic;
    display: block;
}

.photoBackgroundCopyrightFooter{
    font-size: 9px;
    color: #FFF;
    position: fixed;
    bottom: 5;
    right: 5;
    padding-top: 10px;
}

