/*
		GoogleTableChart - JG (triPPer)
		
	Using (for example) in STATS		
*/


div.ui-datepicker{font-size:12px;}

.GCT-link-3 {text-decoration: underline; cursor: pointer; color: #006600}
.GCT-link {text-decoration: underline; cursor: pointer;}

.GCT-div button{ 	
	background-color: #DBE6F1;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border:2px solid grey;
	
	-webkit-box-shadow: 4px 4px 6px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    4px 4px 6px rgba(50, 50, 50, 0.65);
	box-shadow:         4px 4px 6px rgba(50, 50, 50, 0.65);
		
	font-size:12px;
	width:70px;
	font-weight: bold;
}


.GCT-div button:hover{ 					
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow:    0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:         0px 0px 0px rgba(0, 0, 0, 0);
}


.GCT-div-table {
	border-radius: 5px; 
	border: solid 1px grey; 
	background: #EFEFEF; 
	padding:10px 10px 10px 10px; 
	font-weight:bold;	
}

.GCT-background-color-white { background-color: #ffffff; }
.GCT-background-color-whiteB { background-color:#FBFBFB; }
.GCT-background-color-white2 { background-color:#F2F2F2; }
.GCT-background-color-white6 { background-color:#F6F6F6 }
.GCT-background-color-grey { background-color: #efefef; }
.GCT-background-color-grey25 { background-color: #DDDDDD; }
.GCT-background-color-lightblue { background-color: #F5F5FF; }


//color:#D9D9D9; #EBEBEB;
.GCT-border-color-greyEF{ border: 1px solid #efefef ;}
.GCT-border-color-greyD9{ border: 1px solid #D9D9D9; }
.GCT-border-color-black{ border: 1px solid #000000 ; }

.GCT-color-black{ color: #000000; }
.GCT-color-black22{ color: #111111; }
.GCT-color-black77{ color: #777777; }
.GCT-color-blueOC{ color: rgb(88,144,168); }
.GCT-color-darkred{ color: #AA0000;  }
.GCT-color-none {}

.GCT-font-bold{font-weight: bold}


.GCTalign-left{ text-align: left; }
.GCTalign-center{ text-align: center; }
.GCTalign-right{ text-align: right; }

.GCT-border-color-greyD9.google-visualization-table-sorthdr {		
	padding-bottom: 25px; 
	padding-top: 25px; 
	padding-left: 5px;
	
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #DDDDDD)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #DDDDDD 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #DDDDDD 100%);
}

.GCT-border-color-greyD9.google-visualization-table-sorthdr :hover
{
	background-color: red;	
}
