

#SendToGPS { BACKGROUND: #dde3d6; BORDER-RIGHT: #005e9d 2px outset; BORDER-TOP: #000000 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px outset; PADDING-TOP: 2px; BORDER-BOTTOM: #005e9d 2px outset; FONT-FAMILY: verdana }

img { behavior: url(iepngfix/iepngfix.htc) }
div#map_canvas img { behavior: none; }

.topframe {
    padding:5px;
    border:1px solid black;

}

input, button {
    color: black;
}

.naviframe {
    float:left;
    padding:5px;
    border:1px dotted black;
    width:170px;
    height:400px;
    margin:5px;
}


.contentframe {
    padding:5px;
    margin:5px 5px 0 195px;
    border:1px dotted black;
    font-size:small;
}

body
{
    color:Black;
    margin:0 0 0 0;
    background-color:#eeeeee;
    font-family: sans serif;
}
hr
{
    /*visibility:hidden;*/
}
a
{
    color:black;
    text-decoration:underline;
}
a:hover
{
    color:blue;
}

.disabled
{
    color:grey;
}
.enabled
{
    color:black;
}

#naviBox
{
    position:relative;
    font-family:sans-serif;
    font-size:small;
    border:1px solid #333333;
    /*padding:7px 7px 7px 7px;*/
    margin-right:4px;
}
#dwj
{
    line-height:1.2em;
    font-size:small;
    font-family:Verdana,Arial,Helvetica,sans-serif;
}
#naviBox a
{
    color:black;
    text-decoration:none;
}
#naviBox a:hover
{
    color:blue;
    text-decoration:underline;
}
#footBox
{
    border-top:thin solid silver;
    text-align: left; /* Seiteninhalt wieder links ausrichten */
    margin: 0 auto; /* standardkonforme horizontale Zentrierung */
    /*   width: 760px; */
    font-family:verdana,arial,helvetica,helv,sans-serif;
    font-size:x-small;
    padding:1ex 1ex 1ex 1ex;
    margin-top:1ex;
    text-align:center;
}



#footerlinks {
    margin-left: 22em;
    padding: 0 1em;
    border: 0;
}



#pagetime {
    font-size: 0.91em;
    float: left;
    width: 22em;
    margin: 0;
    padding: 0;
    border: 0;
}


#content
{
    padding-left:1ex;
    font-family:verdana,arial,helvetica,helv,sans-serif;
    font-size:small;
    letter-spacing:0px;
    line-height:3ex;
    vertical-align:top;
}


#content h1
{
    font-family:sans-serif;
    font-size:small;
    text-align:justify;
}


#content h2
{
    font-family:sans-serif;
    font-size:small;
    text-align:justify;
}


#infoBoxGreen
{
    font-family:sans-serif;
    border:1px solid black;
    background:#DDDDDD;
    padding-bottom:15px;
    padding-top:15px;
    text-align:center;
    font-size:small;
}


#infoBoxGreen h1
{
    padding:0ex 0ex 0ex 1ex;
    font-family:sans-serif;
    font-size:small;
    font-weight:normal;
    text-align:left;
    border-bottom:1px solid black;
}


.navilevel2
{
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    width:165px;
    padding-bottom:0.5ex;
    font-weight:bold;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}
.errormsg
{
    color:red;
    font-weight:bold;
}
.successmsg
{
    color:green;
}
.warningmsg
{
    color:blue;
}
.navilevel2 a
{
    color:black;
    text-decoration:none;
}
.navilevel2 a:hover
{
    color:blue;
    text-decoration:underline;
}
.navilevel2n
{
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    width:165px;
    padding-bottom:0.5ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}
.navilevel2n a
{
    color:black;
    text-decoration:none;
}
.navilevel2n a:hover
{
    color:blue;
    text-decoration:underline;
}
.quicklinks
{
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    width:165px;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}
.quicklinks a
{
    color:black;
    text-decoration:none;
}
.quicklinks a:hover
{
    color:blue;
    text-decoration:underline;
}
.navilevel3
{
    font-family:sans-serif;
    font-size:small;
    padding-left:3ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    width:165px;
    padding-bottom:0.5ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}
.navilevel3 a
{
    color:black;
    text-decoration:none;
}
.navilevel3 a:hover
{
    color:blue;
    text-decoration:underline;
}
.navi2top
{
    font-size:xx-small;
    height:1ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    border-top:1px solid #666666;
}
.navi2bottom
{
    font-size:xx-small;
    height:1ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    border-bottom:1px solid #666666;
}
.quicklinksbottom
{
    font-size:xx-small;
    height:1ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    border-bottom:1px solid #666666;
}
#loginbox
{
    font-family:sans-serif;
    background-color:#E8DDE4;
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
    text-align:right;
    font-size:small;
    height:38px;
    vertical-align:middle;
}
#functionsbox
{
    background-color:#BDE1E7;
    border:1px solid black;
    padding-left:5px;
    padding-right:5px;
    text-align:right;
    font-size:small;
    height:38px;
    vertical-align:middle;
}
.textboxes
{
    border:1px solid black;
    background-color:white;
    padding:0px;
    font-size:9px;
    height:14px;
}
.loginsubmit
{
    background-color:white;
    border:1px solid black;
    padding:0px;
    font-size:9px;
}
#breadcrumb
{
    color:#505050;
    font-size:x-small;
    font-family:sans-serif;
    border-bottom:1px solid #AAAAAA;
    text-align:left;
    margin-top:0.5ex;
    margin-bottom:1ex;
    line-height:3ex;
    text-indent:1ex;
}
#breadcrumb a
{
    color:#505050;
    text-decoration:none;
}
#breadcrumb a:hover
{
    color:blue;
    text-decoration:underline;
}
#pagecontent
{
    font-family:serif;
    padding:0ex 1ex 1ex 1ex;
    margin-bottom:1ex;
    letter-spacing:0px;
    vertical-align:top;
    width:85%;
}

td {
    position: relative; // iepngfix
}

#quicklinksbox
{
    width:165px;
    background-color:#DDDDDD;
    margin-left:1ex;
}

#quicklinkstop
{
    line-height:3ex;
    border:1px solid #666666;
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    padding-bottom:1px;
}

/* styles for newcache */
.text_gray
{
    color:gray;
}


table.null {        margin: 0px; border-spacing: 0px; border-width: 0px; border-style: solid;
                    padding-left: 0px; padding-right: 0px;
                    padding-top: 0px; padding-bottom: 0px;
                    width: 100%; }


/* styles for main content-table with new layout */
table.content {
    background-color:#E9E9E9;
    width:100%;
    font-size:small;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-spacing: 0;}

td.spacer {         height:5px; }

td.gallery  {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

td.header
{
    background-color:#E6E2E6;
    height:32px;
    vertical-align:bottom;
    padding-left:5px; padding-right:5px;
    border: 0px;
    font-family: verdana,sans-serif;
}

td.header-small {   background-color:#E6E2E6;
                    height:22px;
                    vertical-align : middle;
                    padding-left:5px; padding-right:5px;
                    font-family: verdana,sans-serif;
                    font-weight: bold;}

/* for normal contents the next two definitions should have the same attributes */
table.content td {      padding-left: 5px; padding-right: 5px; }
/*table.content td {    padding-left: 5px; padding-right: 5px; }*/

.help
{
    font-size:10px;
    color:#666666;
}

td.help {           padding-left: 50px; padding-right: 5px;
                    font-size:10px;
                    color:#666666; }

td.ok    {          background-color:#66CC00;
                    height:22px;
                    color:#000000; }

td.error {          background-color:#FF0000;
                    height:50px;
                    font-weight: bold;
                    color:#FFFF00; }

td.message {        background-color:#E6E2E6;
                    height:50px;
                    font-size:12px;
                    font-weight: bold;
                    color:#FF0000; }

/* styles for inputfields */
input {             border:1px solid black;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }

*.input20 {         width:20px; }  /* day,month */
*.input30 {         width:30px; }
*.input40 {         width:40px; }  /* year */
*.input50 {         width:50px; }
*.input70 {         width:70px; }
*.input100 {        width:100px; }  /* log-password */
*.input120 {        width:120px; }  /* emailadress */
*.input200 {        width:200px; }
*.input300 {        width:300px; }
*.input400 {        width:400px; }  /* short cachedescription */

input.checkbox {    width:12px; height:12px; font-size:12px; border:0; }

input.radio {       border:0px;
                    width:14px; height:14px; font-size:12px; }

textarea {          border:1px solid black;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }

textarea.cachedesc {width:600px; height:500px; }    /* only cache_editor */
textarea.hint {     width:600px; }                  /* only cache_editor */
textarea.logs {     width:600px; height:300px; }    /* only log_editor */


select {            border:0px;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }


input.formbuttons { background-color:white;
                    width:120px;
                    border:1px solid black;
                    padding:0px; }

.ul_icons { margin-top:0px; margin-bottom:0px; }    /* ul for action-links in viewcache */

.menuBar
{
    background-color:#F0F0EE;
    margin:2px 2px 2px 2px;
    padding:2px 2px 2px 2px;
    border:solid 1px #CCCCCC;
    font-size:smaller;
    width:155px;
    cursor:default;
}

.buttonNormal
{
    padding:3px 4px 3px 4px;
    cursor:default;
}

.buttonSplitter
{
    color:#CCCCCC;
}

.filters
{
    font-family:sans-serif;
    border:1px solid black;
    background:#DDDDDD;
    padding-bottom:15px;
    padding-top:15px;
    text-align:left;
    font-size:small;
    vertical-align: top;
}

.chbox {    width:15px; height:15px; font-size:12px; border:0; background-color: transparent; margin: 2px 2px 2px 2px;}