/* this css is used only for pages display as popup window */


input, button {
    color: black;
}

body {
    color:Black;
    margin:0 0 0 0;
    background-color:#eeeeee;
    font-family: sans serif;
}

a {
    color:black;
    text-decoration:underline;
}

a:hover {
    color:blue;
}

.disabled {
    color:grey;
}
.enabled {
    color:black;
}


#content
{
    padding-left:1ex;
    font-family:verdana,arial,helvetica,helv,sans-serif;
    font-size:small;
    letter-spacing:0px;
    line-height:3ex;
    vertical-align:top;
}


#content h1
{
    font-family:sans-serif;
    font-size:small;
    text-align:justify;
}


#content h2
{
    font-family:sans-serif;
    font-size:small;
    text-align:justify;
}

.errormsg
{
    color:red;
    font-weight:bold;
}
.successmsg
{
    color:green;
}
.warningmsg
{
    color:blue;
}

.navilevel2n
{
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    width:165px;
    padding-bottom:0.5ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
}
.navilevel2n a
{
    color:black;
    text-decoration:none;
}
.navilevel2n a:hover
{
    color:blue;
    text-decoration:underline;
}

.navi2bottom
{
    font-size:xx-small;
    height:1ex;
    border-left:1px solid #666666;
    border-right:1px solid #666666;
    border-bottom:1px solid #666666;
}


td {
    position: relative;
}

#quicklinksbox
{
    width:165px;
    background-color:#DDDDDD;
    margin-left:1ex;
}

#quicklinkstop
{
    line-height:3ex;
    border:1px solid #666666;
    font-family:sans-serif;
    font-size:small;
    padding-left:1ex;
    padding-right:1ex;
    text-align:left;
    vertical-align:top;
    padding-bottom:1px;
}

/* styles for newcache */
.text_gray
{
    color:gray;
}


table.null {        margin: 0px; border-spacing: 0px; border-width: 0px; border-style: solid;
                    padding-left: 0px; padding-right: 0px;
                    padding-top: 0px; padding-bottom: 0px;
                    width: 100%; }


/* styles for main content-table with new layout */
table.content {
    background-color:#E9E9E9;
    width:100%;
    font-size:small;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-spacing: 0;}

td.spacer {         height:5px; }

td.gallery  {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

td.header
{
    background-color:#E6E2E6;
    height:32px;
    vertical-align:bottom;
    padding-left:5px; padding-right:5px;
    border: 0px;
    font-family: verdana,sans-serif;
}

td.header-small {   background-color:#E6E2E6;
                    height:22px;
                    vertical-align : middle;
                    padding-left:5px; padding-right:5px;
                    font-family: verdana,sans-serif;
                    font-weight: bold;}

/* for normal contents the next two definitions should have the same attributes */
table.content td {      padding-left: 5px; padding-right: 5px; }
/*table.content td {    padding-left: 5px; padding-right: 5px; }*/

.help
{
    font-size:10px;
    color:#666666;
}

td.help {           padding-left: 50px; padding-right: 5px;
                    font-size:10px;
                    color:#666666; }

td.ok    {          background-color:#66CC00;
                    height:22px;
                    color:#000000; }

td.error {          background-color:#FF0000;
                    height:50px;
                    font-weight: bold;
                    color:#FFFF00; }

td.message {        background-color:#E6E2E6;
                    height:50px;
                    font-size:12px;
                    font-weight: bold;
                    color:#FF0000; }

/* styles for inputfields */
input {             border:1px solid black;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }

*.input20 {         width:20px; }  /* day,month */
*.input30 {         width:30px; }
*.input40 {         width:40px; }  /* year */
*.input50 {         width:50px; }
*.input70 {         width:70px; }
*.input100 {        width:100px; }  /* log-password */
*.input120 {        width:120px; }  /* emailadress */
*.input200 {        width:200px; }
*.input300 {        width:300px; }
*.input400 {        width:400px; }  /* short cachedescription */

input.checkbox {    width:12px; height:12px; font-size:12px; border:0; }

input.radio {       border:0px;
                    width:14px; height:14px; font-size:12px; }

textarea {          border:1px solid black;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }

textarea.desc, textarea.cachelog {
    width: 100%;
    height: 30em;
}
textarea.hint {
    width: 100%;
    height: 4em;
}
textarea.logs {     width:600px; height:300px; }    /* only log_editor */


select {            border:0px;
                    background-color:white;
                    padding:1px;
                    font-size:11px; }


input.formbuttons { background-color:white;
                    width:120px;
                    border:1px solid black;
                    padding:0px; }

.chbox {    width:15px; height:15px; font-size:12px; border:0; background-color: transparent; margin: 2px 2px 2px 2px;}

