body { background-color: #e0ed9d; }
div#bg1 { display: block; position: absolute; width: 330px; height: 100%; left: -331px; top: -2px; background-repeat: no-repeat; background-image: url(../../../images/css/spring.jpg);}
div#bg2 { display: block; position: absolute; width: 330px; height: 100%; right: -331px; top: -2px; background-repeat: no-repeat; background-image: url(../../../images/css/spring.jpg);background-position: top right;}
