

.icon16 {
  width: 16px;
}

table.listOfCaches {
  width: 100%;
}

table.listOfCaches .center{
  text-align: center; 
  vertical-align: middle;
}


table.listOfCaches .left{
  text-align: left; 
  vertical-align: middle;
}

table.listOfCaches .right{
  text-align: right; 
  vertical-align: middle;
}
