    <tr>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;"><img alt="{cache_type}" title="{cache_type}" src="{absolute_server_URI}{cache_type_icon}" width="20" height="20" style="border: 0;"></td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: left; font-size: 12px;"><a href="{absolute_server_URI}{cache_url}"><strong>{cache_name}</strong> ({cache_wp})</a></td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;">{cache_size}</td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;">{cache_direction} - {cache_distance} {cache_unit}</td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;"><img src="{absolute_server_URI}{cache_diff_icon}" alt="{cache_diff} /" style="border: 0;"> <img src="{absolute_server_URI}{cache_ter_icon}" alt="{cache_ter}" style="border: 0;"></td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;"><a href="{absolute_server_URI}{cache_author_profile}">{cache_author}</a> (<img src="{absolute_server_URI}/tpl/stdstyle/images/blue/thunder_ico.png" alt="{cache_author_activity}" width="12" height="12" style="border: 0;" title="{cache_author_activity2} [ {cache_author_found} + {cache_author_dnf} + {cache_author_hidden} ]">{cache_author_total})</td>
      <td style="border: 1px solid #ccc; padding: 2px; text-align: center; font-size: 12px;">{cache_date}</td>
    </tr>
