/*
 * There css are used in editCache/pictures.tpl 
 */
.picSortHdlr {
  cursor: move;
}

#picsTbody td {
  text-align: center;
  vertical-align: middle;
}

.input-error {
  box-shadow: 0 0 3px red;
}

.picTableEmpty {
  display: none;
}

textarea.customReactivation {
    width: 90%;
    height: 4em;
    margin-left: 20px;
}

fieldset.reactivationRules {
    border: 1px solid black;
    width: 98%;
}

legend, legend.content-title-noshade {
  padding-left: 5px;
  padding-right: 5px;
}

#descLangDiv {
  text-align: right;
  margin-bottom: 30px;
}